---
layout: info_page
title: About Us
---

<h2 style="text-align: left; padding-left: 1em">History</h2>

<p style="text-align: left; padding-left: 2em">
  In 2018, the Security Practices And Research Student Association (SPARSA) and
  RIT Competitive Cybersecurity Club (RC3) merged to become RITSEC. As a result,
  the security community at RIT became more unified as the major and industry
  grew.
</p>

<br />

<div>
  <h2 style="text-align: left; padding-left: 1em">About Us</h2>
  <p style="font-size: 125%; padding-left: 2em">
    {{ site.data.settings.about_us_long }}
  </p>
</div>

<br />

<h2 style="text-align: left; padding-left: 1em">Interest Groups</h2>
<p style="font-size: 125%; padding-left: 2em">
  Interest Groups hold meetings separate from RITSEC’s general meeting to go
  over specific topics our members are passionate about. To start an interest
  group please contact Jon Bauer on Workplace. Current Interest Groups are as
  follows:
</p>

<br />

<div style="text-align: left; padding-left: 1em; color: black; margin: 15px">
  {% for group in site.data.settings.interest_groups %}
  <h3 style="color: black; text-decoration: underline;">{{ group.name }}</h3>
  <p>Leader: {{ group.leader }}</p>
  <p>{{ group.description }}</p>
  <p>Meeting Time: {{ group.meeting_time }}</p>
  {% endfor %}
</div>

<br />

<h2 style="text-align: left; padding-left: 1em">Interest Programs</h2>
<p style="font-size: 125%; padding-left: 2em">
  Interest Programs hold meetings separate from RITSEC’s general meeting to go
  over specific topics our members are passionate about. Interest Programs offer
  more events, have larger presences, and usually have membership requirements in order to join!
  Reach out to the leaders of the interest programs if you have any questions! Our current IP's are as follows:
</p>

<br />

<div style="text-align: left; padding-left: 1em; color: black; margin: 15px">
  {% for group in site.data.settings.interest_programs %}
  <h3 style="color: black; text-decoration: underline;">{{ group.name }}</h3>
  <p>Leader: {{ group.leader }}</p>
  <p>{{ group.description }}</p>
  <p>Meeting Time: {{ group.meeting_time }}</p>
  {% endfor %}
</div>

<br />

<div style="font-size: 200%; padding-left: 1em">
  <h2 style="text-align: left">Connect with us</h2>
  <a
    style=" float:left; clear:left"
    href="https://www.facebook.com/{{ site.data.settings.facebook_page }}"
  >
    Facebook
  </a>
  <a
    style="float:left; clear:left"
    href="https://www.instagram.com/{{ site.data.settings.instagram }}"
  >
    Instagram
  </a>
  <a
    style="float:left; clear:left"
    href="https://www.twitter.com/{{ site.data.settings.twitter }}"
  >
    Twitter
  </a>
  <a
    style="float:left; clear:left"
    href="https://www.github.com/{{ site.data.settings.github.name }}"
  >
    Github
  </a>
  <a
    style="float:left; clear:left"
    href="https://www.youtube.com/channel/{{ site.data.settings.youtube }}"
  >
    Youtube
  </a>
  <address>
    <a
      style="float:left; clear:left"
      href="mailto:{{ site.data.settings.email }}"
    >
      Email
    </a>
  </address>
</div>
