---
layout: info_page
title: Events
---

{% for event in site.data.settings.events %}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 vcenter">
    {% if event.name == 'Weekly Education Meeting' or event.name == 'Weekly
    Research Meeting' or event.name == 'IRSeC' %}
    <img
      src="assets/images/{{ event.image }}"
      class="real events-thumbnail hcenter-div"
    />
    {% else %}
    <img
      src="assets/images/events/{{ event.image }}"
      class="real events-thumbnail hcenter-div"
    />
    {% endif %}
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 vcenter">
    <h3>{{ event.name }}</h3>
    <p>{{ event.description }}</p>
  </div>
</div>
<br />
<br />
{% endfor %}
