---
layout: base
---
{% include main_slider.html %}
<br>
<br>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142600858-1"></script>
<script>
    window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag("js",new Date);gtag("config","UA-142600858-1");
</script>


<div class="container ritsec-body">
    <div>
        <h2 style="text-align: center; color: black">Webb Auditorium Fridays 12pm-4pm</h2>
    </div>
    {% include aboutus_section.html %}
    {% include events_section.html %}
    {% include sponsor_section.html %}
</div>