---
layout: info_page
title: Newsletters
---

<style>
.wrap {
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    
}
.child{
    padding-right: 10px;
    color: black;
}
</style>

<!---->
{% for year in site.data.newsletters %}
<div style="text-align: center;">
<h2 style="text-align: center;">{{year.year}}</h2>
{% assign count = 0 %}
    {% for month in year.month %}
    {% assign remainder = count | modulo: 4 %}
    {% if remainder == 0 and count > 0 %}
        <br>
    {% endif %}
    {% assign count = count | plus: 1 %}
    <div class="wrap">
        {% assign key = month[1] | split: " " %}
        <a href="assets/images/newsletters/{{key[0]}}" target="_blank"><h3 class="child">{{month[0]}} </h3></a>
        <a href="assets/images/newsletters/{{key[0]}}" target="_blank"><img style="width:180px; height: 200px;" src="assets/images/newsletters/{{key[1]}}"></img></a>
    </div>
    {% endfor %}
<br>
<br>
</div>
{% endfor %}
<br>
