---
layout: info_page
title: EBoard of Years Past
---
<br>
<div class="past-eboards">
    <div class="center">
{% for eboard in site.data.past-eboard %}
        <h3>{{ eboard.year }}</h3>
        <div class="center">
        {% if eboard.President %}
        <p><span>President:</span> {{ eboard.President }}</p>
        {% endif %}
        {% if eboard.VicePresidentofPractices %}
        <p><span>Vice President of Practices:</span> {{ eboard.VicePresidentofPractices }}</p>
        {% endif %}
        {% if eboard.VicePresidentofResearch %}
        <p><span>Vice President of Research:</span> {{ eboard.VicePresidentofResearch }}</p>
        {% endif %}
        {% if eboard.Treasurer %}
        <p><span>Treasurer:</span> {{ eboard.Treasurer }}</p>
        {% endif %}
        {% if eboard.Secretary %}
        <p><span>Secretary:</span> {{ eboard.Secretary }}</p>
        {% endif %}
        {% if eboard.GraduateAdvisor %}
        <p><span>Graduate Advisor:</span> {{ eboard.GraduateAdvisor }}</p>
        {% endif %}
        {% if eboard.FacultyAdvisor %}
        <p><span>Faculty Advisor:</span> {{ eboard.FacultyAdvisor }}</p>
        {% endif %}
        <br><br>
        </div>
{% endfor %}
    </div>
</div>
