---
layout: info_page
title: Sponsors
description: >

    <a style="padding-left:1.5em; text-decoration: none; font-size: 150%;" href="/sponsorship.pdf">Benefits of Sponsorship</a>
    <br>
    <br>
---
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142600858-1"></script>
<script>
    window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag("js",new Date);gtag("config","UA-142600858-1");
</script>

<!-- I'll make a nice function for this eventually -->
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

<div class="row" style="text-align: center">
    <h2 style="text-align:center"> Platinum </h2>
    <br>
    {% for sponsor in site.data.sponsors %}
        {% if sponsor.tier == 'Platinum' %}
           {% assign link = sponsor.link %}
            <div class="col-lg-2 col-md-4 col-sm-3 col-xs-6" style="display: inline-block;float: none;">
                <a href="{{link}}" target="_blank">
                <img style="text-align:center" class="ritsec-thumbnail img-responsive" src="assets/images/sponsorLogos/{{ sponsor.image }}" alt="{{ sponsor.name }}">
            </a>
          </div>
        {% endif %}
    {% endfor %}
</div>

<div class="row" style="text-align: center">
    <h2 style="text-align:center"> Gold </h2>
    <br>
    {% for sponsor in site.data.sponsors %}
        {% if sponsor.tier == 'Gold' %}
            {% assign link = sponsor.link %}
                <div class="col-lg-2 col-md-4 col-sm-3 col-xs-6" style="display: inline-block;float: none;">
                    <a href="{{link}}" target="_blank">
                    <img style="text-align:center" class="ritsec-thumbnail img-responsive" src="assets/images/sponsorLogos/{{ sponsor.image }}" alt="{{ sponsor.name }}">
                    </a>
              </div>
        {% endif %}
    {% endfor %}
</div>

<div class="row" style="text-align: center">
    <h2 style="text-align:center"> Silver </h2>
    <br>
    {% for sponsor in site.data.sponsors %}
        {% if sponsor.tier == 'Silver' %}
            {% assign link = sponsor.link %}
            <div class="col-lg-2 col-md-4 col-sm-3 col-xs-6" style="display: inline-block;float: none;">
             <a href={{link}} target="_blank">
                <img class="ritsec-thumbnail img-responsive center-block" src="assets/images/sponsorLogos/{{ sponsor.image }}" alt="{{ sponsor.name }}">
            </a>
          </div>
        {% endif %}
    {% endfor %}
</div>

<div class="row" style="text-align: center">
    <h2 style="text-align:center"> Bronze </h2>
    <br>
    {% for sponsor in site.data.sponsors %}
        {% if sponsor.tier == 'Bronze' %}
            {% assign link = sponsor.link %}
            <div class="col-lg-2 col-md-4 col-sm-3 col-xs-6" style="display: inline-block;float: none;">
                <a href="{{link}}" target="_blank">
                <img class="ritsec-thumbnail img-responsive center" src="assets/images/sponsorLogos/{{ sponsor.image }}" alt="{{ sponsor.name }}">
            </a>
          </div>
        {% endif %}
    {% endfor %}
</div>

<div class="row" style="text-align: center">
    <h2 style="text-align:center"> Educational </h2>
    <br>
    {% for sponsor in site.data.sponsors %}
        {% if sponsor.tier == 'Educational' %}
            {% assign link = sponsor.link %}
            <div class="col-lg-2 col-md-4 col-sm-3 col-xs-6" style="display: inline-block;float: none;">
                <a href="{{link}}" target="_blank">
                <img class="ritsec-thumbnail img-responsive center" src="assets/images/sponsorLogos/{{ sponsor.image }}" alt="{{ sponsor.name }}">
            </a>
          </div>
        {% endif %}
    {% endfor %}
</div>
