<!-- Footer Section -->
<div class="sitemap-container">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3 style="color:#FFF;">Site Map</h3>
                <div class="sitemap-ul-container">
                    <ul class="sitemap">
                        {% for item in site.data.settings.navbar %}
                        <li>
                            <a href="{{ item.link }}" class="sitemap-link">{{ item.name }}</a>
                        </li>
                        {% if item.subitems %}
                        <ul class="sitemap">
                        {% for subitem in item.subitems %}
                            <li>
                                <a href="{{ subitem.link }}" class="sitemap-link">{{ subitem.name }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3 style="color:#FFF;">Public Resources</h3>
                <div class="sitemap-ul-container">
                    <ul class="sitemap">
                        {% if site.data.settings.slack %}
                        <li>
                            <a href="https://{{ site.data.settings.slack }}.slack.com" class="sitemap-link"><i class="fa fa-slack"></i> {{ site.data.settings.slack }} on Slack</a>
                        </li>
                        {% endif %}
                        {% if site.data.settings.youtube %}
                        <li>
                            <a href="https://www.youtube.com/user/{{ site.data.settings.youtube }}" class="sitemap-link"><i class="fa fa-youtube-play"></i> {{ site.data.settings.title }} on YouTube</a>
                        </li>
                        {% endif %}
                        {% if site.data.settings.github %}
                        <li>
                            <a href="https://github.com/{{ site.data.settings.github.name }}" class="sitemap-link"><i class="fa fa-github"></i> {{ site.data.settings.title }} on GitHub</a>
                        </li>
                        {% endif %}
                        {% if site.data.settings.facebook_group %}
                        <li>
                            <a href="https://www.facebook.com/groups/{{ site.data.settings.facebook_group }}/" class="sitemap-link"><i class="fa fa-facebook-official"></i> {{ site.data.settings.title }} on Facebook</a>
                        </li>
                        {% endif %}
                        {% if site.data.settings.twitter %}
                        <li>
                            <a href="https://twitter.com/{{ site.data.settings.twitter }}" class="sitemap-link"><i class="fa fa-twitter"></i> @{{ site.data.settings.twitter }}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /container -->
<div class="csh-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 hcenter">
                <a href="contact.html" style="color:#FFF">{{ site.data.settings.email }}</a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 hcenter">
                <a style="color:#FFF" href="https://github.com/{{ site.data.settings.github.name }}/{{ site.data.settings.github.project }}">Website on <i class="fa fa-github"></i> GitHub</a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 hcenter">
                Copyright <span id="currentYear"></span> © SPARSA
            </div>
        </div>
    </div>
</div>
