<nav class="navbar navbar-csh navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle csh-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ site.data.settings.navbar-brand.link }}"><img src="/assets/images/{{ site.data.settings.navbar-brand.image }}" class="csh-logo"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
            {% for item in site.data.settings.navbar %}
            {% if item.subitems %}
            {% comment %}  The capture below must be on 1 line due to issues with whitespace. {% endcomment %}
            {% capture children %}{% for subitem in item.subitems %}{% if subitem.link contains "https://" %}{% continue %}{% else %}{{ "," | append: subitem.link }}{% endif %}{% endfor %}{% endcapture %}
                <li class="dropdown">
                    <a href="{% if item.link contains "https://" %}{{ item.link }}{% else %}{{ "/" | append: item.link }}{% endif %}" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="csh-navbar-nav-shift navbarActive" page="{{ item.link }}{{ children }}">
                            {{ item.name }} <span class="caret"></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                    {% for subitem in item.subitems %}
                        <li>
                            <a href="{% if subitem.link contains "https://" %}{{ subitem.link }}{% else %}{{ "/" | append: subitem.link }}{% endif %}">{{ subitem.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{% if item.link contains "https://" %}{{ item.link }}{% else %}{{ "/" | append: item.link }}{% endif %}">
                        <div class="csh-navbar-nav-shift navbarActive" page="{{ item.link }}">
                            {{ item.name }}
                        </div>
                    </a>
                </li>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
