<div class="row">
    <div class="col-md-12">
        <h2>Things We Do</h2>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive project-thumbnail" src="assets/images/events/meetings-square.jpg">
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive project-thumbnail" src="assets/images/events/hacknights-square.jpg">
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive project-thumbnail" src="assets/images/events/ists-square.jpg">
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive project-thumbnail" src="assets/images/events/random-square.jpg">
            </div>
        </div>

        <h4 style="text-align:center; color:black">SPARSA is a fun and open environment to talk about any projects you've done or want to do!</h4>
        <p>
            <a class="btn btn-default" href="events.html" role="button">More &raquo;</a>
        </p>
    </div>
</div>
