<div class="row">
  <div class="col-md-12">
    <h2>Things We Do</h2>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-3">
        <img
          class="img-responsive project-thumbnail"
          style="margin-top: 15px"
          src="assets/images/IRSEC_Logo.png"
        />
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <img
          class="img-responsive project-thumbnail"
          style="margin-top: 10px;"
          src="assets/images/events/ists_logo.png"
        />
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <img
          class="img-responsive project-thumbnail"
          style="margin-top: 35px"
          src="assets/images/events/Hackerthon_Logo.png"
        />
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <img
          class="img-responsive project-thumbnail"
          style="width: 75%; height: 75%;margin-top: -10px"
          src="assets/images/events/ritsec-ctf19.png"
        />
      </div>
    </div>

    <p>
      <a class="btn btn-default" href="events.html" role="button"
        >More &raquo;</a
      >
    </p>
  </div>
</div>
