<!-- Sponsor's Section -->
<br><br>
<div class="strike">
    <span class="ritsec-sponsors-text">
        <a class="link-text" href="sponsors.html">Sponsors</a>
    </span>
</div>
<div class="sponsor-container">
    <!-- This case handles the situation where there are less than 4 sponsors. The shown sponsors will randomly be selected
        from the sponsors defined in 'sponsors.yml' if there are more than 4. This is defined in 'assets/js/sponsors.js'
    -->
    <div class="sponsor-image-container">
        <a href="" target="_blank">
            <img class="sponsor-image" src="" id="sponsor0">
        </a>
    </div><!----><div class="sponsor-image-container">
        <a href="" target="_blank">
            <img class="sponsor-image" src="" id="sponsor1">
        </a>
    </div><!----><div class="sponsor-image-container">
        <a href="" target="_blank">
            <img class="sponsor-image" src="" id="sponsor2">
        </a>
    </div><!----><div class="sponsor-image-container">
        <a href="" target="_blank">
            <img class="sponsor-image" src="" id="sponsor3">
        </a>
    </div>
        
</div>