<!-- Sponsor's Section -->
<br><br>
<div class="strike">
    <span class="csh-sponsors-text">
        <a class="link-text" href="sponsors.html">Sponsors</a>
    </span>
</div>
<div class="sponsor-container">
    <div class="sponsor-image-container">
        <a>
            <img src="assets/images/sponsorLogos/hp.png" class="sponsor-image" id="sponsor1">
        </a>
    </div><!----><div class="sponsor-image-container">
        <a>
            <img src="assets/images/sponsorLogos/google.png" class="sponsor-image" id="sponsor2">
        </a>
        </div><!----><div class="sponsor-image-container">
        <a>
            <img src="assets/images/sponsorLogos/linkedin.png" class="sponsor-image" id="sponsor3">
        </a>
        </div><!----><div class="sponsor-image-container">
        <a>
            <img src="assets/images/sponsorLogos/cadence.png" class="sponsor-image" id="sponsor4">
        </a>
    </div>
</div>