.about-container {
  width: 100%;
  max-width: 120rem;
  margin: auto;
}

.about-section {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0px 32px;

  @media (min-width: 576px) {
    padding: 0px 64px;
  }
}

.about-description_container {
  width: 100%;
  max-width: 70%;

  @media (max-width: 1028px) {
    max-width: 90%;
  }
}

.about-groups-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.group_container {
  margin: 1rem;
  min-width: 40%;
  flex: 1;
  background: var(--card-color);
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

  .group_title {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 0;

    .group_name {
      font-size: 1.5rem;
      font-weight: 500;
      margin: 0;
    }

    .group_meeting {
      color: #AAA;
      margin: 0;
    }
  }

  hr {
    width: 4rem;
    margin: 0.5rem 0;
    border-top: 2px solid white;
  }

  .group_description {
    font-size: 0.8rem;
  }
}

.about-section-heading {
  font-style: normal;
  font-weight: 800;
  text-align: center;
  color: var(--text-color);
  margin-top: 40px;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.about-section-description {
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: var(--light-text-color);
  margin-top: 18px;
  font-size: 1.3rem;
  line-height: 2rem;
}

.members-section {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0px 32px;
}

.members-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;

  margin-top: 30px;
  margin-bottom: 48px;
  @media (min-width: 576px) {
    margin-top: 46px;
    margin-bottom: 69px;
  }
}

.members-grid {
  width: 100%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  gap: 32px;
  justify-content: center;

  @media (max-width: 1024px) {
    max-width: 90%;
  }
}

.member_container {
  background: var(--card-color);
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 16px;
  display: grid;
  grid-template-rows: 1fr 100px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.member_avatar-container {
  position: relative;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.member_avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.2);
  // border-radius: 16px 16px 0 0;
}

.member_info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 20px;
}

.member_title {
  font-size: 1.15rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 4px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.member_details {
  font-size: 1rem;
  font-weight: 400;
}

.member_socials {
  width: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 14px;
}

.member_social-link {
  height: 20px;
  width: 20px;
  color: var(--light-text-color);
  transition: 0.1s ease-in-out;
}

.member_social-link:hover {
  opacity: 1;
  color: var(--link-color);
}

.about-socials-section {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0px 32px;

  @media (min-width: 576px) {
    padding: 0px 64px;
  }
}

.about-social-container {
  width: 100%;
  max-width: 60%;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-evenly;
  align-items: center;

  @media (max-width: 1256px) {
    max-width: 100%;
    padding: 1rem;
  }

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.about-past-eboard-section {
  text-align: center;

  .about-past-eboard-container .about-past-eboard {
    .past-eboard-year {
      font-size: 1.75rem;
      color: #e69138;
      margin-top: 1rem;
    }

    .past-eboard-orgname {
      color: #e69138;
      margin: 0.5rem 0;
    }

    .past-eboard-orgs-container {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 60%;
      margin: 1rem auto;

      .past-eboard-org {
        margin: 0 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .about-groups-container {
    width: 100% !important;

    .group_container {
      min-width: 100% !important;

      .group_title {
        flex-direction: column;
      }
    }
  }
}
