.alumni-section {
  text-align: center;

  .alumni-container .graduation-group {
    .graduation-year {
      font-size: 2.5rem;
      color: #e69138;
      margin-top: 1rem;
    }

    .alumni-group {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 50%;
      margin: 1rem auto;

      .alumni-title {
        width: 30%;
      }
    }
  }
}
