.education-section {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0px 32px;

  @media (min-width: 576px) {
    padding: 0px 64px;
  }
}

.education-set-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin-top: 30px;
  margin-bottom: 48px;
  @media (min-width: 576px) {
    margin-top: 38px;
    margin-bottom: 60px;
  }
}

.education-set {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.education-set_title {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 700;
}

.education-set_description {
  color: var(--text-color);
  opacity: 0.7;
  font-size: 1rem;
  margin: 0.25rem 0 1rem;
}

.education-set_lesson-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  gap: 16px 32px;
  justify-content: center;
}
