.group-url-button {
    text-align: center;
    width: 10rem;
    margin-top:1rem;
    padding: 0.75rem 0;
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    color: var(--text-color);
    opacity: 0.85;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    font-size: 1rem;
    line-height: 1.25rem;
  
    &:hover {
      opacity: 1;
    }
  }