// Intro Section
.intro-section {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0px 32px;

  @media (min-width: 576px) {
    padding: 0px 64px;
  }
}

.home-scroll-prompt {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.home-scroll_border {
  stroke: var(--text-color);
}

.home-scroll_center {
  fill: var(--text-color);
}

.slideshow {
  background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(140px);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1100px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 2%;
  aspect-ratio: 1.67;
  img {
    border-radius: 8px !important;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.2) !important;
  }
  margin-top: 40px;
  margin-bottom: 96px;
  @media (min-width: 576px) {
    margin-top: 62px;
    margin-bottom: 120px;
  }
}

.slideshow_wrapper {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.slideshow_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.2);
}

// .intro-bg {
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   right: 0px;
//   height: 100%;
//   z-index: -1;
// }

// .intro-bg_wrapper {
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   right: 0px;
//   height: 100%;
//   z-index: -1;
// }

// .intro-bg_image {
//   position: absolute;
//   inset: 0px;
//   box-sizing: border-box;
//   padding: 0px;
//   border: none;
//   margin: auto;
//   display: block;
//   width: 0px;
//   height: 0px;
//   min-width: 100%;
//   max-width: 100%;
//   min-height: 100%;
//   max-height: 100%;
//   opacity: 0.3;
//   filter: none;
//   content: var(--background-image);
//   background-size: cover;
//   background-image: none;
// }

/** About Section **/
.home_about-section {
  width: 100%;
  max-width: 100%;
}

.home_about-gradient-1 {
  background-image: linear-gradient(to bottom right, var(--background-color), var(--gradient-1));
  height: 0.5rem;
}

.home_about-gradient-2 {
  background-image: linear-gradient(to top left, var(--background-color), var(--gradient-2));
  height: 0.5rem;
}

.home_about-background {
  background-image: linear-gradient(to top right, var(--gradient-2), var(--gradient-3));
  padding: 4rem 0;
}

.home_about-container {
  max-width: 80rem;
  padding: 0 1.25rem;
  margin: 0 auto;

  @media (min-width: 640px) {
    padding: 0px 5rem;
  }
}

.home_about-content {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home_about-title {
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.home_about-description {
  font-weight: 400;
  color: var(--light-text-color);
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.home_about-button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1.75rem;
}

.home_about-button {
  text-align: center;
  width: 10rem;
  padding: 0.75rem 0;
  background-color: var(--card-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  color: var(--text-color);
  opacity: 0.85;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  font-size: 1rem;
  line-height: 1.25rem;

  &:hover {
    opacity: 1;
  }
}

/** Events Section **/
.home_events-sponsors-section {
  background: linear-gradient(165deg, var(--background-color) 50%, #1b171b62 0);
  padding: 4rem 0;
}

.home_events-container {
  max-width: 80rem;
  margin: 0 auto 2rem;
  padding: 0 1.25rem;

  @media (min-width: 640px) {
    padding: 0px 5rem;
  }
}

.home_events-title {
  color: var(--text-color);
  opacity: 0.75;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.home_events-grid {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  gap: 20px;
  justify-content: center;
}

.home_event {
  background-color: var(--card-color);
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1rem;
  opacity: 1;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 40px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;

  &:hover {
    opacity: 1;
    border: 1px solid var(--link-color);
    background-color: var(--card-color-light);
  }

  @media (min-width: 1178px) {
    width: 49%;
  }
}

.home_event-title {
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.home_event-description {
  display: flex;
  font-weight: 400;
  color: var(--text-color);
  opacity: 0.7;
  font-size: 1.05rem;
  line-height: 1.3rem;
}

.home_events-empty-message {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 1.1rem;
  opacity: 0.75;
}

.home_events-grid {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  gap: 20px;
  justify-content: center;
}

.home_event-link-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_event-link-icon {
  color: var(--text-color);
  height: 1.5rem;
  width: 1.5rem;
}

/** Sponsors Section **/
.home_sponsors-grid {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  gap: 36px;
  justify-content: center;
}

.home_sponsor {
  width: 250px;
  height: 300px;
  display: grid;
  grid-template-rows: 250px 50px;
  color: var(--text-color);
  text-decoration: none;
}

.home_sponsor-image {
  width: 250px;
  height: 250px;
  object-fit: contain;
  padding: 1rem;
  background: #fff;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

.home_sponsor-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

/** Join Section **/
.home_join-section {
  width: 100%;
  max-width: 100%;
}

.home_join-title {
  font-weight: 700;
  color: var(--text-color);
  font-size: 2.25rem;
  line-height: 2.5rem;

  @media (max-width: 1024px) {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

.home_join-content {
  max-width: 54rem;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 764px) {
    flex-direction: column;
    gap: 16px;
  }
}
