.links-section {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0px 32px;

  @media (min-width: 576px) {
    padding: 0px 64px;
  }
}

.links-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;

  margin-top: 30px;
  margin-bottom: 48px;
  @media (min-width: 576px) {
    margin-top: 46px;
    margin-bottom: 69px;
  }
}

.links-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  gap: 32px;
  justify-content: center;
}

.link_container {
  background-color: var(--card-color);
  color: white;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  width: 450px;
  height: 100px;
  border-radius: 16px;
  border: 1px solid transparent;
  display: grid;
  grid-template-columns: 1fr 80px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.1s ease-in-out;

  &:hover {
    border: 1px solid var(--link-color);
    background-color: var(--card-color-light);
  }

  &:hover,
  .link_icon {
    opacity: 1;
    color: var(--text-color);
  }
}

.link_info-container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 16px 20px;
}

.link_title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-color);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link_description {
  width: 100%;
  height: 100%;
  color: var(--light-text-color);
  padding-top: 4px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link_icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link_icon {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  color: var(--light-text-color);
  transition: all 0.1s ease-in-out;
}
