.sponsors-section {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0px 32px;

  @media (min-width: 576px) {
    padding: 0px 64px;
  }
}

.sponsor-tier {
  width: 100%;
}

.sponsors-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;

  margin-top: 30px;
  margin-bottom: 48px;
  @media (min-width: 576px) {
    margin-top: 46px;
    margin-bottom: 69px;
  }
}

.sponsors-grid {
  max-width: 70rem;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  gap: 32px;
  justify-content: center;
}

.sponsor-tier-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.sponsor {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  grid-template-columns: 1fr 300px;
  align-items: center;
  padding: 1rem;
  margin: 30px 15px;
}

.sponsor-info {
  width: 100%;
  max-height: 100%;
  padding-right: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.sponsor-title {
  font-size: 2rem;
  margin-top:1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
}

.sponsor-description {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-color);
  opacity: 0.7;
  margin: 1rem 0 1.5rem;

  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sponsor-button {
  text-align: center;
  width: 8rem;
  margin: auto;
  padding: 0.5rem 0;
  background-color: var(--card-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  color: var(--text-color);
  opacity: 0.85;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  font-size: 0.75rem;
  line-height: 1rem;

  &:hover {
    opacity: 1;
  }
}

.become-a-sponsor {
  font-size: 1.25rem;
  width: 16rem;
  padding: 1rem;
  color: #e69138;
}

.sponsor-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sponsor-image-wrapper {
  width: 200px;
  height: 200px;
  opacity: 1;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.15s ease;

  &:hover {
    opacity: 0.75;
  }
}

.sponsor-image {
  background: #fff;
  padding: 1rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

@media (max-width: 1024px) {

  .sponsor-description {
    -webkit-line-clamp: 6;
    margin: 0.25rem 0 0.5rem;
  }

  .sponsor-image-wrapper {
    height: 200px;
    width: 200px;
  }
}

.sponsor-tier-title{
  font-size: 2.5rem;
  text-align: center;
  color: var(--text-color);
}

.titanium {
  color: #7A7772
}

.diamond {
  color: #b9f2ff;
}

.platinum {
  color: #e5e4e2;
}

.gold {
  color: #ffd700;
}

.silver {
  color: #c0c0c0;
}

.bronze {
  color: #b08d57;
}