---
layout: base
---
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container jumbotron ritsec-page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 vcenter">
                <div class="ritsec-header-text">
                    {{ page.title }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container ritsec-body">
    <!-- Insert Page Content In this Area -->
    <p>{{ page.description }}</p>
    {{ content }}
</div>
